/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* src/index.css or src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #870400;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.App button:hover {
  background-color: #661A02;
}

.logo {
  width: 150px; /* Adjust the size as needed */
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add gap between the buttons */
}

.button-container button img {
  width: 90px; /* Adjust size as needed */
  height: 90px; /* Adjust size as needed */
  background-color: #fff;
  border-radius: 200px;
}

.button-container button{
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0, 0 , 0, 20px rgba(0,0,0,2);
  background-color: #D9D9D9;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .login-container {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .signup_btn {
    padding: 10px 15px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .signup_btn {
    padding: 8px 12px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}
