/* src/Header.css */
.header {
  background-color: #870400;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; /* Ensure the header starts from the left edge */
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  height: 80px; /* Adjust height as needed to fit the logo */
}

.logo-container {
  position: relative; /* Change to relative to avoid absolute positioning issues */
  margin-right: 20px; /* Add some margin to space out the logo from the text */
}

.logo_cnsc {
  width: 85px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  flex: 1; /* Make sure the header text takes up the remaining space */
  text-align: left; /* Align the header text to the left */
}

/* Adjustments for smaller screens */
@media (max-width: 480px) {
  .header {
    padding: 10px;
    height: auto; /* Adjust height to fit content on smaller screens */
  }
}
